@model List<WebApp.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GitHub Integration</h1>
</div>

<div>
    @foreach (var product in Model)
    {
        <h2>@product.ProductName</h2>
    }
</div>
